/*

!.gitignore
!.gitmodules
!README.md
!X
!alacritty
!base16-shell
!bspwm
!cursor
!dunst
!htop
!fonts
!mpv
!neovim/.config
!neovim/.local/share/nvim/site/autoload
!openbox
!other
!polybar
!qtile
!redshift
!rofi
!skippy-xd
!smplayer
!sxhkd
!tmux/.tmux.conf
!tmux/.tmux/.tmuxline1
!vifm
*vifminfo.json*
!wp
!xmonad
!yay
!zsh/.config/zsh/.zshrc
!zsh/.config/zsh/zinit
!zsh/.config/zsh/.zfunc
!zsh/.zprofile
!zsh/.zshenv
