/*

!.gitignore
!.gitmodules
!README.md
!X
!alacritty
!base16-shell
!bspwm
!cursor
!dunst
!htop
!mpv
!neovim/.config
!neovim/.local/share/nvim/site/autoload
!openbox
!other
!polybar
!qtile
!redshift
!rofi
!skippy-xd
!smplayer
!sxhkd
!tmux
!vifm
!wp
!xmonad
!yay
!zsh/.config/zsh/.zshrc
!zsh/.config/zsh/zinit
!zsh/.config/zsh/.zfunc
!zsh/.zprofile
!zsh/.zshenv
