*
!.gitignore
!README.md
!X/
!alacritty/
!awesome/
!base16-shell/
!bspwm/
!cursor/
!dunst/
!fonts/
!htop/
!jetbrains/
!mpv/
!neovim/
!neovim/**
!openbox/
!other/
!polybar/
!qtile/
!redshift/
!rofi/
!skippy-xd/
!smplayer/
!sxhkd/
!tmux/
!tmux/.tmux/
!tmux/.tmux/plugins/
!tmux/.tmux/plugins/tpm
!tmux/.tmux/plugins/tpm/**
!vifm/
!wp/
!xmonad/
!yay/
!zsh/
